<ul>
    <li><%= link_to "Shows Index", shows_path %>
</ul>

<h1> Reviews Index</h1>

<ol>
    <% @reviews.each do |review| %>
    
        <li>
            <b>Title:</b> <%= review.show.title %>
            <b> - Rating:</b> <%= review.rating %>
            <b> - Comment:</b> <%= review.comment %>
        </li>
        </br>
    <% end %>
</ol>